*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-size: 10;
    font-weight: 100;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


$height-header-sec-px :60px;

html{
    body{
       height: 100vh;
       padding-top: $height-header-sec-px;
    }
}

#header-sec{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: $height-header-sec-px;

    background-color: red;

    .page-scroll-bar{
        width: 100%;
        height: 10%;
        progress{
            
            display: block;
            height: 100%;
            width: 100%;
            appearance: none;
            border: none;
            outline: none;
            $porg-bar:rgb(0, 0, 0);
            $porg-val: rgb(31, 153, 33);


            background-color:$porg-bar;//work on mozila 
            &::-webkit-progress-bar {
                /* style rules */
                background-color:$porg-bar;
            }
            &::-webkit-progress-value {
                /* style rules */
                background-color:  $porg-val;
            }
            &::-moz-progress-bar {
                /* style rules */
                background-color:$porg-val;
              }
        }
    }
    .nav-bar{
        height: 90%;
        display: flex;
        justify-content: space-evenly;

        $gap-padingLeft :20px;
        gap: $gap-padingLeft;
        padding-inline: $gap-padingLeft;
        /*gap will not efict the wall*/

        align-items: center;
        .greetings,.topic-btn{
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }
        .greetings{
            margin-right: auto;
        }

        .topic-btn{
            cursor: pointer;
            background-color: black;
            padding: 5px 10px ;
            &:hover{
                transform: translateX(2px) translateY(-2px);
                box-shadow: -2px 2px 10px 3px rgba(255, 255, 255, 0.654);
            }
        }
    }
}


#TecSkills-sec-cards{
    margin: auto;

    // width: fit-content;
    // max-width: 90%;
    width: 100%;
    // border: 2px black solid;
    background-color: gray;
    display: grid;
    justify-content: center;


    grid-template-columns: repeat( auto-fit, minmax(30px, 80px) );
    // gap: 10px;
    // padding: 10px;
    .tech-card{
        cursor: pointer;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        aspect-ratio: 1;
        position: relative;

        &:hover{
            .tech-name{
                top: 0;
            }
        }
        .tech-img{
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{

                width: 80%;

                object-fit: contain;
                object-position: center;
            }
        }

        .tech-name{
            transition: top .5s;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.527);
            backdrop-filter: blur(10px);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            font-size: 15px;
            user-select: none;
            word-break: break-all;
            top: 100%;
            color: white;
        }
    }
}

